<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
  <!--{ :controller => "teams", :action => "update_student", :id => m.id}-->
</head>
<body>

  <div class="team-show-container">
    
    <div id="info" class="team-info">
      <h2> Equipo </h2>
      <%=@team.teamName%>
    </div>

  </div>

  <div class="table-header">
    
    <% if @team.students.count == 0 %>
    
    <div class="message">
      <h1>¡El equipo <%=@team.teamName%> no tiene estudiantes aún! </h1>
    </div>
    
    <% else %>
    
      <table class="members">
      <tr class="members-header">
        <th>Nombre</th>
        <th>Matrícula</th>
      </tr>
      <div>
        <% @members.each do |m| %>
          <tr class="students-table">
            <td class="row-element"><%= m.name %></td>
            <td class="row-element"><%= m.student_id %></td>
            <td class="column-delete">
            <%= button_to "Eliminar", {}, class: 'button-delete' %>    
            </td>
          </tr>
        <%end%>
      </div>
    </table>

    <% end %>

  </div>

</body>

<script type="text/javascript">
  colorInfo(<%= @team.id %>);
</script>

</html>